# OVH API  ================================================
ovh_application_key = "votre-ak"
ovh_application_secret = "votre-as"
ovh_consumer_key = "votre-ck"

# OpenStack  ================================================
os_tenant_id = "OpenRC-id"
os_tenant_name = "OpenRC-tenant-name"
os_username = "OpenRC-user"
os_password = "OpenRC-id-pass"
os_region = "votre-region"

# VMs  ================================================
ssh_public_key_path = "./id_ed25519.pub"
vm_image = "Ubuntu 24.04"
vm_flavor_k3s = "d2-4"
vm_flavor_runner = "d2-2"